.random-page {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  .random-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .random-content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .random-section, .random-image {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .random-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  